.clickable {
	border-radius: var(--radius-s);
	padding: var(--size-2-2);
	cursor: var(--cursor-link);

	transition: scale 100ms;
}

.clickableBypass {
	border-radius: var(--radius-s);
	padding: var(--size-2-2);
}

.clickable[aria-disabled="true"] {
	opacity: 0.4;
	cursor: not-allowed;
}

.clickable:not([aria-disabled="true"]):hover {
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px #00000017;
}

.clickable:not([aria-disabled="true"]):active {
	scale: 0.8;
}
